In [4]:
## PERFORMANCE OF DEFENCE STOCKS DURING PERIODS OF GEOPOLITICAL TENSION ##
## Akram S. Sadek ##

# Setup Notebook

import numpy as np
import pandas as pd
import datetime as dt
import pandas_datareader.data as pdr
import matplotlib.pyplot as plt
plt.style.use('ggplot')

In [5]:
# Date definitions

df_start = '1989-11-1'
df_end = '2022-1-30'

# Notable geopolitical events
berlin_wall = '1989-11-9'
kuwait_invasion = '1990-8-2'
iraq_war = '1991-1-16'
afghanistan_invasion = '2001-10-7'
iraq_invasion = '2003-3-20'

russia_ukraine_1_start = '2021-3-3'
russia_ukraine_1_end = '2021-4-22'

russia_china = '2021-10-11'

In [11]:
# Main defence stocks

# Lockheed-Martin, Northrup Grumman, Raytheon Technologies, General Dynamics
LMT = pdr.DataReader('LMT', 'yahoo', start = df_start, end = df_end)
NOC = pdr.DataReader('NOC', 'yahoo', start = df_start, end = df_end)
RTX = pdr.DataReader('RTX', 'yahoo', start = df_start, end = df_end)
GD = pdr.DataReader('GD', 'yahoo', start = df_start, end = df_end)
BA_L = pdr.DataReader('BA.L', 'yahoo', start = df_start, end = df_end)

# Smaller defence stocks

# L3Harris Technologies, Leidos Holdings
LHX = pdr.DataReader('LHX', 'yahoo', start = df_start, end = df_end)
LDOS = pdr.DataReader('LDOS', 'yahoo', start = df_start, end = df_end)

# Dual civilian-defence stocks

# British Aerospace, Honeywell International, Airbus, Rolls-Royce Holdings
BA = pdr.DataReader('BA', 'yahoo', start = df_start, end = df_end)
HON = pdr.DataReader('HON', 'yahoo', start = df_start, end = df_end)
AIR_DE = pdr.DataReader('AIR.DE', 'yahoo', start = df_start, end = df_end)
RRU_DE = pdr.DataReader('RRU.DE', 'yahoo', start = df_start, end = df_end)

In [12]:
# Tech stocks

# Tesla, Xilinx, Broadcom, GlobalFoundries, Intel, Microsoft
TSLA = pdr.DataReader('TSLA', 'yahoo', start = df_start, end = df_end)
XLNX = pdr.DataReader('XLNX', 'yahoo', start = df_start, end = df_end)
AVGO = pdr.DataReader('AVGO', 'yahoo', start = df_start, end = df_end)
GFS = pdr.DataReader('GFS', 'yahoo', start = df_start, end = df_end)
INTC = pdr.DataReader('INTC', 'yahoo', start = df_start, end = df_end)
MSFT = pdr.DataReader('MSFT', 'yahoo', start = df_start, end = df_end)

In [13]:
# Dividends for all stocks

LMT_D = pdr.DataReader('LMT', 'yahoo-dividends', start = df_start, end = df_end)
NOC_D = pdr.DataReader('NOC', 'yahoo-dividends', start = df_start, end = df_end)
RTX_D = pdr.DataReader('RTX', 'yahoo-dividends', start = df_start, end = df_end)
GD_D = pdr.DataReader('GD', 'yahoo-dividends', start = df_start, end = df_end)
BA_L_D = pdr.DataReader('BA.L', 'yahoo-dividends', start = df_start, end = df_end)
LHX_D = pdr.DataReader('LHX', 'yahoo-dividends', start = df_start, end = df_end)
LDOS_D = pdr.DataReader('LDOS', 'yahoo-dividends', start = df_start, end = df_end)
BA_D = pdr.DataReader('BA', 'yahoo-dividends', start = df_start, end = df_end)
HON_D = pdr.DataReader('HON', 'yahoo-dividends', start = df_start, end = df_end)
AIR_DE_D = pdr.DataReader('AIR.DE', 'yahoo-dividends', start = df_start, end = df_end)
RRU_DE_D = pdr.DataReader('RRU.DE', 'yahoo-dividends', start = df_start, end = df_end)
TSLA_D = pdr.DataReader('TSLA', 'yahoo-dividends', start = df_start, end = df_end)
XLNX_D = pdr.DataReader('XLNX', 'yahoo-dividends', start = df_start, end = df_end)
AVGO_D = pdr.DataReader('AVGO', 'yahoo-dividends', start = df_start, end = df_end)
GFS_D = pdr.DataReader('GFS', 'yahoo-dividends', start = df_start, end = df_end)
INTC_D = pdr.DataReader('INTC', 'yahoo-dividends', start = df_start, end = df_end)
MSFT_D = pdr.DataReader('MSFT', 'yahoo-dividends', start = df_start, end = df_end)

In [16]:
# Other financial indicators

# Gold
GC_F = pdr.DataReader('GC=F', 'yahoo', start = df_start, end = df_end)

# US Government 10 Year Bonds
TNX = pdr.DataReader('^TNX', 'yahoo', start = df_start, end = df_end)

# Oil
CL_F = pdr.DataReader('CL=F', 'yahoo', start = df_start, end = df_end)

# S&P500
GSPC = pdr.DataReader('^GSPC', 'yahoo', start = df_start, end = df_end)

In [19]:
LMT.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2022-01-24,374.540009,365.339996,369.549988,373.329987,3023300.0,373.329987
2022-01-25,388.000000,370.779999,377.850006,387.170013,3182400.0,387.170013
2022-01-26,393.630005,383.700012,388.000000,391.239990,3640500.0,391.239990
2022-01-27,395.600006,384.739990,389.390015,389.079987,2566200.0,389.079987
2022-01-28,393.329987,384.779999,389.100006,393.149994,2145100.0,393.149994

In [20]:
LMT.head()

                 High        Low       Open      Close    Volume  Adj Close
Date
1989-11-01  13.611963  13.420245  13.573620  13.496933  472374.0   5.595065
1989-11-02  13.535276  13.305215  13.535276  13.343558  219398.0   5.531485
1989-11-03  13.381902  13.075153  13.343558  13.075153  422496.0   5.420216
1989-11-06  13.151840  13.036810  13.075153  13.075153  288184.0   5.420216
1989-11-07  13.305215  12.998466  13.113497  13.266871  380442.0   5.499694

In [21]:
LMT_D.tail()

              action     value
1990-11-13  DIVIDEND  0.138037
1990-08-14  DIVIDEND  0.138037
1990-05-16  DIVIDEND  0.138037
1990-02-13  DIVIDEND  0.138037
1989-11-14  DIVIDEND  0.138037

In [22]:
LMT_D.head()

              action  value
2021-11-30  DIVIDEND    2.8
2021-08-31  DIVIDEND    2.6
2021-05-28  DIVIDEND    2.6
2021-02-26  DIVIDEND    2.6
2020-11-30  DIVIDEND    2.6